// colore delle scritte/titoli
$primary-font-color: #ff5466;

// gradient background colors for jumbotron (angolazione 80°)
$background-first-color: #ff3366; // posizione 0
$background-second-color: #ff6e66; // posizione 25
$background-third-color: #ff8c66; // posizione 60
$background-last-color: #ffdbab; // posizione 100
